<!-- pet_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pet.name }} - Pet Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <header class="bg-blue-600 text-white py-4 shadow-lg">
        <h2 class="text-center text-2xl font-bold">{{ pet.name }} Details</h2>
    </header>
    
    <div class="container mx-auto py-8">
        <div class="bg-white rounded-lg shadow-lg p-6">
            <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="w-64 h-64 object-cover rounded-lg mb-4">
            <h3 class="text-lg font-semibold text-gray-800">Name: {{ pet.name }}</h3>
            <p class="text-sm text-gray-500">Age: {{ pet.age }} years</p>
            <p class="text-sm text-gray-500">Gender: {{ pet.gender }}</p>
            <p class="text-sm text-gray-500">Color: {{ pet.color }}</p>
            <p class="text-sm text-gray-500">Breed: {{ pet.breed }}</p>
            <p class="text-lg font-bold text-green-600 mt-2">Owner: {{ pet.owner }}</p>
            <p class="text-lg font-bold text-green-600 mt-2">contact: {{ pet.owner.phone }}</p>
            

            {% if pet.qr_code %}
            <div class="mt-4">
                <img src="{{ pet.qr_code.url }}" alt="QR code for {{ pet.name }}" class="w-32 h-32">
            </div>
            {% endif %}
        </div>
    </div>

    <footer class="bg-gray-800 text-white text-center py-4">
        <p>&copy; 2024 Pet Store. All Rights Reserved.</p>
    </footer>
</body>
</html>
